@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
html {
  background-color: #ffffff; }

a {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none; }

a:visited {
  text-decoration: none; }

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 56px;
  font-weight: 400; }

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 46px;
  font-weight: 600; }

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 600; }

p {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: normW; }

.main-header {
  width: 100%;
  height: 149px;
  background-color: #F2F0EC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.main-flex {
  display: flex;
  align-items: center; }

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.items {
  padding-right: 80px;
  color: #1F313D; }

.logo {
  width: 220px;
  height: 33px; }

.panier {
  width: 35px;
  height: 35px;
  padding-right: 80px; }

.main-footer {
  width: 100%;
  background-color: #73726D; }

.footer-flex {
  display: flex;
  align-items: center;
  flex-flow: row; }

.footer-items {
  padding-bottom: 16px;
  color: #ffffff; }

.social-logos {
  display: flex;
  flex-flow: row;
  margin-top: 32px; }

.social-items {
  width: 45px;
  height: 45px;
  padding-right: 12px; }

.footer-link {
  display: flex;
  flex-flow: column;
  margin: 20px; }

.footer-logos {
  display: flex;
  flex-flow: column;
  padding: 40px 40px 40px 0; }

.footlogo {
  width: 220px;
  height: 33px; }

.woodbg {
  margin-top: 10px;
  height: 764px;
  background-size: cover;
  background-image: url("../img/wood-bg.jpg"); }

.titre {
  display: flex;
  justify-content: center;
  padding-top: 420px; }

.videoborder {
  width: 1280px;
  height: 720px; }

.contact {
  background-color: #657244; }

.description {
  color: #F2F0EC; }

.ordre {
  margin: 75px 125px;
  text-align: center; }

.produit-title {
  display: flex;
  justify-content: center;
  margin: 60px 0; }

.slide {
  display: flex;
  justify-content: center;
  flex-flow: row; }

.recherche {
  display: flex;
  justify-content: center;
  margin-bottom: 60px; }

.article {
  width: 574px;
  height: 393px; }

.article2 {
  height: 108px; }

.desc {
  margin: 100px; }

.prod-card {
  display: flex;
  justify-content: center;
  flex-flow: row; }

.prod-desc {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  margin: 0  0 10px 25px; }

.tansimg {
  display: flex;
  justify-content: flex-start;
  flex-flow: row;
  align-items: center; }

.articleimg {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  width: 574px;
  margin-top: 35px; }

.articlefix {
  max-height: 397px;
  width: auto; }

.blogImg {
  width: 574px;
  height: 397px; }

.articleflex {
  display: flex;
  flex-flow: column;
  margin-right: 125px; }
  .articleflex--impaire {
    display: flex;
    flex-flow: column;
    margin-left: 125px; }

.nameflex {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding-top: 70px; }
  .nameflex--name {
    display: flex;
    flex-flow: column;
    padding-left: 25px; }

.pad {
  padding-top: 45px; }
  .pad--prof {
    padding-top: 8px; }

.borderimg {
  width: 1440px;
  height: 340px;
  margin-top: 45px;
  background-size: cover;
  background-image: url("../img/restaurant.png");
  background-position-y: 550px; }

.partone {
  margin: 45px 0; }

.partwo {
  margin-right: 40px; }

.gbutton {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  border-style: solid;
  border: none;
  background-color: #657244;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #F2F0EC;
  width: 186px;
  height: 40px;
  cursor: pointer; }
  .gbutton--card {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    border-style: solid;
    border: none;
    background-color: #657244;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: #F2F0EC;
    width: 186px;
    height: 40px;
    margin: 10px 95px;
    cursor: pointer; }
  .gbutton--wbutton {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    border-style: solid;
    border: none;
    background-color: #F2F0EC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: #73726D;
    width: 186px;
    height: 40px;
    cursor: pointer; }

.buttonflex {
  margin: auto; }

.card {
  border-style: solid;
  border: none;
  background-color: #ffffff;
  width: 375px;
  height: 511px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 25px; }

.produit-img {
  width: 376px;
  height: 254px; }

.card-title {
  display: flex;
  justify-content: space-between;
  margin: 30px 30px 10px; }

.pastille {
  display: flex;
  justify-content: flex-start;
  flex-flow: row;
  margin: 30px 0; }

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; }

.content {
  display: flex;
  justify-content: center;
  padding: 125px 0; }
  .content--row {
    display: flex;
    justify-content: center;
    flex-flow: row;
    padding: 125px 0; }
  .content--column {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 125px 0; }
  .content--rowimpaire {
    display: flex;
    justify-content: center;
    flex-flow: row-reverse;
    padding: 125px 0; }
  .content--rowN {
    display: flex;
    justify-content: center;
    flex-flow: row; }

html {
  background-color: #ffffff; }

a {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none; }

a:visited {
  text-decoration: none; }

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 56px;
  font-weight: 400; }

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 46px;
  font-weight: 600; }

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 600; }

p {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: normW; }

.texte--pboldcard {
  font-size: 27px;
  font-weight: 600; }
.texte--pboldprod {
  font-size: 56px;
  font-weight: boldW; }
.texte--plightcard {
  font-size: 27px;
  font-weight: 200; }
.texte--plightprod {
  font-size: 56px;
  font-weight: 200; }
.texte--descprod {
  font-size: 20px; }
.texte--contact {
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  color: #ffffff; }
.texte--lp {
  font-size: 20px; }
.texte--name {
  font-size: 18px;
  font-weight: 600; }
.texte--profession {
  font-size: 14px;
  font-weight: normW; }

.h1--black {
  color: #000000; }
.h1--cream {
  color: #F2F0EC; }
.h1--lightgray {
  color: #A6A49F; }
.h1--darkgray {
  color: #73726D; }
.h1--blogue {
  font-size: 30px;
  font-weight: 600;
  color: #000000; }

.h3 {
  color: #000000; }

.circle {
  background-color: #000000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 30px; }
  .circle--brown {
    background-color: #A07E70;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px; }
  .circle--lightbrown {
    background-color: #73554C;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px; }
  .circle--darkbrown {
    background-color: #4B2212;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px; }
  .circle--white {
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px; }
  .circle--cream {
    background-color: #F2F0EC;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px; }
  .circle--orange {
    background-color: #CD511F;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px; }
  .circle--yellow {
    background-color: #B86D01;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px; }
  .circle--blue {
    background-color: #335753;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px; }
  .circle--red {
    background-color: #9E1C1C;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px; }
  .circle--green {
    background-color: #657244;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px; }
  .circle--girl {
    background-image: url("../img/genevieve.png");
    width: 68px;
    height: 68px;
    border-radius: 50%; }

.values {
  border: 1px solid #D0D9E2;
  border-radius: 4px;
  width: 180px;
  height: 40px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-left: 20px; }

.search {
  border: 1px solid #D0D9E2;
  border-radius: 4px;
  width: 325px;
  height: 40px;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-left: 20px; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, option, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*# sourceMappingURL=style.css.map */
