.gbutton{
    font-family: $raleway;
    font-size: $a;
    border-style: solid;
    border: none;
    background-color: $green;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    color: $cream;
    width: 186px; 
    height: 40px;
    cursor: pointer;

    &--card{
        font-family: $raleway;
        font-size: $a;
        border-style: solid;
        border: none;
        background-color: $green;
        box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 4px;
        color: $cream;
        width: 186px; 
        height: 40px;
        margin: 10px 95px;
        cursor: pointer;
    }

    &--wbutton{
        font-family: $raleway;
        font-size: $a;
        border-style: solid;
        border: none;
        background-color: $cream;
        box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 4px;
        color: $darkGray;
        width: 186px; 
        height: 40px;
        cursor: pointer;
    }
}

.buttonflex{
    margin: auto;
}