.values{
    border: 1px solid $gray;
    border-radius: 4px;
    width: 180px;
    height: 40px;
    color: $black;
    font-family: $raleway;
    font-size: $a;
    font-weight: $normW;
    margin-left: 20px;
} 

.search{
    border: 1px solid $gray;
    border-radius: 4px;
    width: 325px;
    height: 40px;
    color: $black;
    font-family: $raleway;
    font-size: $a;
    font-weight: $normW;
    margin-left: 20px; 
}