.circle{
    background-color: $black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 30px;

    &--brown{
        background-color: $brown;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 30px;
    }
    &--lightbrown{
        background-color: $lightBrown;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 30px;
    }
    &--darkbrown{
        background-color: $darkBrown;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 30px;
    }
    &--white{
        background-color: $white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 30px;
    }
    &--cream{
        background-color: $cream;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 30px;
    }  
    &--orange{
        background-color: $orange;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 30px;
    }
    &--yellow{
        background-color: $yellow;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 30px;
    }
    &--blue{
        background-color: $blue;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 30px;
    }
    &--red{
        background-color: $red;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 30px;
    }
    &--green{
        background-color: $green;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 30px;
    }
    
    &--girl{
        background-image: $girl;
        width: 68px;
        height: 68px;
        border-radius: 50%;
    }
}