@import '../base';
.texte{

    &--pboldcard{
        font-size: $cardName;
        font-weight: $boldW;
    }

    &--pboldprod{
        font-size: $h1;
        font-weight: boldW;
    }

    &--plightcard{
        font-size: $cardName;
        font-weight: $lightW;
    }

    &--plightprod{
        font-size: $h1;
        font-weight: $lightW;
    }

    &--descprod{
        font-size: 20px;
    }

    &--contact{
        font-size: $h3;
        font-weight: $normW;
        line-height: 35px;
        color: $white;
    }

    &--lp{
        font-size: $lp;
    }

    &--name{
        font-size: 18px;
        font-weight: $boldW;
    }

    &--profession{
        font-size: $a;
        font-weight: normW;
    }
}

.h1{

    &--black{
        color: $black;
    }

    &--cream{
        color: $cream;
    }

    &--lightgray{
        color: $lightGray;
    }

    &--darkgray{
        color: $darkGray;
    }

    &--blogue{
        font-size: $h3;
        font-weight: $boldW;
        color: $black;
    }
}

.h3{
    color: $black;
}