html{
    background-color: $white;
}
a{
    font-family: $raleway;
    font-size: $a;
    font-weight: $normW;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

h1{
    font-family: $raleway;
    font-size: $h1;
    font-weight: $normW;
}

h2{
    font-family: $raleway;
    font-size: $h2;
    font-weight: $boldW;
}

h3{
    font-family: $raleway;
    font-size: $h3;
    font-weight: $boldW;
}

p{
    font-family: $raleway;
    font-size: $p;
    font-weight: normW;
}
