.articlefix{
    max-height: 397px;
    width: auto;
}

.blogImg{
    width: 574px;
    height: 397px;
}

.articleflex{
    display: flex;
    flex-flow: column;
    margin-right: 125px;

    &--impaire{
        display: flex;
        flex-flow: column;
        margin-left: 125px; 
    }
}

.nameflex{
    display: flex;
    flex-flow: row;
    align-items: center;
    padding-top: 70px;

    &--name{
        display: flex;
        flex-flow: column;
        padding-left: 25px;
    }
}

.pad{
    padding-top: 45px;

    &--prof{
    padding-top: 8px;
    }
}

.borderimg{
    width: 1440px;
    height: 340px;
    margin-top: 45px;
    background-size: cover;
    background-image: $restaurant;
    background-position-y: 550px;
}

.partone{
    margin: 45px 0;
}

.partwo{
    margin-right: 40px;
}

