.main-footer{
    width: 100%;
    background-color: $darkGray;
}    

.footer-flex{
    display: flex;
    align-items: center;
    flex-flow: row;
}
.footer-items{
    padding-bottom: 16px;
    color: $white;
}

.social-logos{
    display: flex;
    flex-flow: row;
    margin-top: 32px;
}

.social-items{
    width: 45px;
    height: 45px;
    padding-right: 12px;
}

.footer-link{
    display: flex;
    flex-flow: column;
    margin: 20px;
    
}
.footer-logos{
    display: flex;
    flex-flow: column;
    padding: 40px 40px 40px 0;
}

.footlogo{
    width: 220px;
    height: 33px;
}
