.main-header{
    width: 100%;
    height: 149px;
    background-color: $cream;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-flex{
    display: flex;
    align-items: center;
}
.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.items{
    padding-right: 80px;
    color: $blueNav;
}

.logo{
    width: 220px;
    height: 33px;
}

.panier{
   width: 35px;
   height: 35px;
   padding-right: 80px; 
}
